@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
	--background: rgb(236, 236, 236);
	--background-login-img: rgb(16, 59.993, 190);
}

/*-----------------------------------*\
  HOME
\*-----------------------------------*/

nav {
	z-index: 10;
}

.btn-animate {
	transition: transform 0.3s;
}

.btn-animate:hover {
	transform: scale(1.05);
}

/*-----------------------------------*\
  LOGIN
\*-----------------------------------*/

.login, .signup {
	font-family: 'Poppins', sans-serif;
	background: var(--background);
	top: -80px;
}

.box-area {
	width: 930px;
}

.decoration-box {
	background-color: var(--background-login-img);

}

.decoration-box p {
	font-family: monospace;
	font-weight: 700;
}

.decoration-box small {
	width: 17rem;
	font-family: monospace;
}

.form-box {
	padding: 40px 30px 40px 40px;
}

/*-----------------------------------*\
  SIDEBAR Y CONTENT
\*-----------------------------------*/

.sidebar {
	position: fixed;
}

.content {
	background-color: var(--background);
	margin-left: 195px;
}

/*-----------------------------------*\
  MEDIA QUERYS
\*-----------------------------------*/

@media only screen and (max-width: 768px){

	/*Login and signup*/
	.box-area {
		margin: 0 10px;
	}

	.decoration-box {
		height: 100px;
		overflow: hidden;
	}

	.form-box {
		padding: 20px;
	}
}

@media only screen and (max-width: 575px){
	/*Sidebar and content*/
	.content {
		margin-left: 80px;
	}
}