<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Money Manager</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

	<ul>

		<li> <a href = "/dashboard">Dashboard</a> </li>
		<li> <a href = "/transaction">Transacciones</a> </li>
		<li> <a href = "/savings">Ahorro</a> </li>
		<li> <a href = "/logout">Salir</a> </li>
		
	</ul>

	{% block content %}
	{% endblock %}

	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>