{% extends "base.html" %}

{% block content %}

	<div class="container d-flex justify-content-center align-items-center min-vh-100 savings-form">

		<div class="row border rounded-5 p-3 bg-white shadow box-area">

			<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column decoration-box">
				<div class="featured-image mb-3">
					<img src="/static/images/pig-home.png" class="img-fluid" alt="login" style="width: 250px;">
				</div>
				<p class="text-white fs-2">¡Ahorra!</p>
				<small class="text-white text-wrap text-center">Ahorrando alcanzas tus metas finacieras de una manera más sencilla y organizada.</small>
			</div>

			<div class="col-md-6 form-box">
				<div class="row align-items-center">
					<div class="header-text mb-4">
						<h2>Nuevo ahorro</h2>
					</div>

					{% if error %}
						<small class="mb-2">{{error}}</small>
					{% endif %}

					<form action="/savings/create/" method="POST">
						{% csrf_token %}
						<label for="goal" class="d-block fs-6 mb-1">Meta</label>
						<div class="input-group mb-5">
							<input type="number" step="0.01" value="0.00" min="0" pattern="^[0-9]+" name="goal" id="goal" required class="form-control form-control-lg bg-light fs-6" required>
						</div>
						<label for="percentage" class="d-block fs-6 mb-1">Porcentaje</label>
						<div class="input-group mb-1">
							<!--<input type="number" step="0.01" min="0" max="100.00" pattern="^[0-9]+" name="percentage" id="percentage" required>-->
							<input type="range" min="0" max="100" name="percentage" id="percentage" required class="form-range form-range-lg bg-light fs-6" oninput="updatePercentage(this.value)">
						</div>
						<p>Valor: <span id="percentageValue">50</span>%</p>
						<div class="input-group mt-5">
							<button class="btn btn-lg btn-primary w-100 fs-6">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function updatePercentage(value){
			document.getElementById('percentageValue').innerText = value;
		}
	</script>

{% endblock %}
