{% extends "base.html" %}

{% block content %}
	<h1>Nuevo Ahorro</h1>

	{{error}}
	
	<form action='/savings/create/', method="POST">
		{% csrf_token %}

		<div class="form">
			<label for="goal">Meta</label>
			<input type="number" step="0.01"value="0.00" min="0" pattern="^[0-9]+" name="goal" id="goal" required>
		</div>

		<div class="form">
			<label for="percentage">Porcentaje</label>
			<input type="number" step="0.01" min="0" max="100.00" pattern="^[0-9]+" name="percentage" id="percentage" required>
		</div>

		<button>Guardar</button>
	</form>


{% endblock %}