<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Money Manager</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="home-body">

	<nav class="navbar navbar-expand-md mt-md-4">
		<div class="container">
			<div class="d-flex flex-row align-items-center justify-items-center">
				<img src="/static/images/logo.png" alt="logo" width="50px">
			</div>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto gap-2">
					<li class="nav-item">
					  <a class="btn btn-outline-light btn-animate btn-white mt-sm-2" href="/signin">Iniciar Sesión</a>
					</li>
					<li class="nav-item">
					  <a class="btn btn-light me-2 btn-animate btn-white mt-sm-2" href="/signup">Crear cuenta</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container col-xxl-8 px-4 py-5 hero-section" style="z-index: 5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{% static 'images/finanzas.png' %}" class="d-block mx-lg-auto img-fluid" alt="finance" width="400px" loading="lazy">
			</div>
			<div class="col-lg-6" style="padding-inline: 50px;"> 
				<h1 class="display-5 fw-bold lh-1 mb-3 ">Organiza tu dinero</h1>
				<p class="lead">Controla tus finanzas de una manera más sencilla.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a class="btn btn-light btn-lg px-4 me-md-2 btn-animate btn-white" href="/signin">¡Empezar ahora!</a>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>