{% extends "base.html" %}

{% block content %}

	<h1>Ahorros</h1>

	{% if saving == None %}
		<p>No tienes ahorros aún</p>

		<form action="{% url 'create_saving' %}" method="GET">
			{% csrf_token %}
			<button>Crear</button>	
		</form>

	{% else %}
		<p>{{saving.current_value}}</p>
		<p>{{saving.goal}}</p>

		{% if saving.current_value == saving.goal %}
			<p>Felicitaciones, alcanzaste la meta de ahorro</p>

			<form action="{% url 'delete_saving' 1 %}" method="POST">
				{% csrf_token %}
				<button>Utilizar</button>	
			</form>
		{% endif %}

		<form action="{% url 'delete_saving' 0 %}" method="POST">
			{% csrf_token %}
			<button>Eliminar</button>	
		</form>
	{% endif %}

	
{% endblock %}