{% extends "base.html" %}

{% block content %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<h1>Ahorros</h1>

	{% if saving == None %}
		<p>No tienes ahorros aún</p>

		<form action="{% url 'create_saving' %}" method="GET">
			{% csrf_token %}
			<button>Crear</button>	
		</form>

	{% else %}
		<p>{{saving.current_value}}</p>
		<p>{{saving.goal}}</p>

		{% if saving.current_value == saving.goal %}
			<p>Felicitaciones, alcanzaste la meta de ahorro</p>

			<form action="{% url 'delete_saving' 1 %}" method="POST">
				{% csrf_token %}
				<button>Utilizar</button>	
			</form>
		{% endif %}

		<form action="{% url 'delete_saving' 0 %}" method="POST">
			{% csrf_token %}
			<button>Eliminar</button>	
		</form>
	{% endif %}

	<div style="width: 300px">
		<canvas id="myChart"></canvas>
	</div>


	<script>
		const ctx = document.getElementById('myChart');
		let percentage_completed = ({{saving.current_value}} / {{saving.goal}})*100;
		let remaining = 100 - percentage_completed;
		console.log(percentage_completed)

		new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ['Progreso', 'Faltante'],
				datasets: [{
					data: [percentage_completed, remaining],
					backgroundColor: ['rgb(25, 135, 84)','rgba(13, 110, 253, 1)'],

				}]
			}
			
		});
	</script>

	
{% endblock %}