{% extends 'base.html' %}


{% block content %}

<form action="/signin/" method="POST">
	{% csrf_token %}
	
	<h1>Iniciar sesión</h1>

	{{error}}

	<div class="form-control">
		<label for="username">Usuario</label>
		<input type="text" name="username" id="username" required placeholder="Ingresa tu nombre">
	</div>

	<div class="form-control">
		<label for="password">Contraseña</label>
		<input type="password" name="password" id="password" required placeholder="Ingresa tu contraseña">
	</div>

	<button>Enviar</button>
</form>

{% endblock %}