{% extends 'base.html' %}


{% block content %}


<form action="/signup/" method="POST">
	{% csrf_token %}

	<h1>Crear cuenta</h1>

	{{error}}

	<div class="form-control">
		<label for="username">Usuario</label>
		<input type="text" name="username" id="username" required placeholder="Ingresa tu nombre">
	</div>

	<div class="form-control">
		<label for="password1">Contraseña</label>
		<input type="password" name="password1" id="password1" required placeholder="Ingresa tu contraseña">
	</div>

	<div class="form-control">
		<label for="password2">Confirmar contraseña</label>
		<input type="password" name="password2" id="password2" required placeholder="Ingresa tu contraseña nuevamente">
	</div>

	<button>Enviar</button>
</form>

{% endblock %}


