{% extends "base.html" %}

{% block content %}
	<h1>Transacciones</h1>

	<form action="/transaction/" method="GET">
		<label>
			<input type="radio" name="filter" value="INGRESO" 
				{% if 'INGRESO' in category %} checked {% endif %}> Ingresos
		</label>

		<label>
			<input type="radio" name="filter" value="GASTO"
				{% if 'GASTO' in category %} checked {% endif %}> Gastos
		</label>
		
		<label>
			<input type="radio" name="filter" value="AMBOS"
				{% if 'AMBOS' in category %} checked {% endif %}> Ambos
		</label>
			
		<button>Filtrar</button>	
	</form>

	<ul>
		{% for transaction in transactions %}
			<li>
				<a href="{% url 'transaction_details' transaction.id %}">
					{% if transaction.category == 'INGRESO' %}
						<p> + </p>
					{% else %}
						<p> - </p>
					{% endif %}

					<p> {{transaction.description}} </p>			
					<p> {{transaction.value}} </p>	
				</a>
			</li>	
		{% endfor %}
	</ul>

	<a href = "/transaction/create">Añadir</a>

{% endblock %}