{% extends "base.html" %}

{% block content %}

	<div class="container d-flex justify-content-center align-items-center min-vh-100 login-section">
		<div class="row border rounded-5 p-3 bg-white shadow box-area">

			<div class="col-md-6 form-box">
				<div class="row align-items-center">
					<div class="header-text mb-4">
						<h2>Detalles</h2>
					</div>

					{% if error %}
						<small class="mb-2">{{error}}</small>
					{% endif %}

					<form action="{% url 'transaction_details' transaction.id %}" method="POST">
						{% csrf_token %}

						<div class="mb-3">
							<label for="category" class="form-label">Tipo de transacción</label>
							<div class="d-flex flex-row column-gap-3 justify-content-center">
								<input type="radio" class="btn-check" name="category" id="ingreso" value="INGRESO" {% if 'INGRESO' in transaction.category %} checked {% endif %} required>
								<label class="btn btn-outline-success" for="ingreso" style="width: 50%;">Ingreso</label>

								<input type="radio" class="btn-check" name="category" id="gasto" value="GASTO" {% if 'GASTO' in transaction.category %} checked {% endif %} required>
								<label class="btn btn-outline-danger" for="gasto" style="width: 50%;">Gasto</label>
							</div>
						</div>
						<div class="mb-4">
							<label for="value" lass="form-label">Monto</label>
							<div class="input-group mt-1">
							 	<span class="input-group-text">$</span>
							    <input type="number" class="form-control" step="0.01" value="{{transaction.value}}" min="0" pattern="^[0-9]+" name="value" id="value" required>
							</div>
						</div>

						<div class="mb-3">
							<label for="payment_method" lass="form-label">Método de pago</label>
							<div class="form-check mt-1">
							    <input class="form-check-input" type="radio" name="payment_method" id="efectivo" value="EFECTIVO" {% if 'EFECTIVO' in transaction.payment_method %} checked {% endif %} required>
							    <label class="form-check-label" for="efectivo">
							      Efectivo
							    </label>
							</div>
							<div class="form-check">
							    <input class="form-check-input" type="radio" name="payment_method" id="banco" value="BANCO" {% if 'BANCO' in transaction.payment_method %} checked {% endif %} required>
							    <label class="form-check-label" for="banco">
							      Cuenta de banco
							    </label>
							</div>
							<div class="form-check">
							    <input class="form-check-input" type="radio" name="payment_method" id="cripto" value="CRIPTO" {% if 'CRIPTO' in transaction.payment_method %} checked {% endif %} required>
							    <label class="form-check-label" for="cripto">
							      Criptomonedas
							    </label>
							</div>
						</div>	

						<div class="mb-3">
							<label for="value" class="form-label">Descripción</label>
							<div class="input-group">
							 	<textarea class="form-control" name="description" id="description" maxlength="100" required style="resize: none">{{transaction.description}}</textarea>
							</div>
						</div>

						<div class="mb-4">
							<div class="input-group mt-1">
							 	<span class="input-group-text">Fecha</span>
							    <input type="text" class="form-control" value="{{transaction.date|date:'j M Y'}} a las {{transaction.date|date:'i'}} horas." disabled>
							</div>
						</div>

						<div class="mb-3">
							<div class="d-flex flex-row column-gap-3 justify-content-center">
								<input type="submit" class="btn-check" id="update"required>
								<label class="btn btn-primary" for="update" style="width: 50%;">Actualizar</label>
								</form>

								<form action="{% url 'delete_transaction' transaction.id %}" method="POST" style="width: 50%">
									{% csrf_token %}
									<input type="submit" class="btn-check" id="delete">
									<label class="btn btn-danger" for="delete" style="width: 100%;">Eliminar</label>
								</form>
							</div>
						</div>
				</div>	
			</div>

			<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column decoration-box">
				<div class="featured-image mb-3">
					<img src="/static/images/formulario.png" class="img-fluid" alt="form" style="width: 250px;">
				</div>
				<p class="text-white fs-2">Verifica los datos</p>
				<small class="text-white text-wrap text-center">Aseguraet de que la información es la correcta.</small>
			</div>
		</div>
	</div>

	<!--<h1>Detalles</h1>

	{{error}}

	<form action="{% url 'transaction_details' transaction.id %}" method="POST">
		{% csrf_token %}
		<div class="form-trans">
			<p>Tipo</p>
			
			<input type="radio" name="category" id="income" value="INGRESO" required
			{% if 'INGRESO' in transaction.category %} checked {% endif %}>
			<label for="income">Ingreso</label>
			<input type="radio" name="category" id="expense" value="GASTO" required
			{% if 'GASTO' in transaction.category %} checked {% endif %}>
			<label for="expense">Gasto</label>
		</div>

		<div class="form-trans">
			<label for="value">Monto</label>
			<input type="number" step="0.01" value={{transaction.value}} min="0" pattern="^[0-9]+" name="value" id="value" required>
		</div>

		<div class="form-trans">
			<p>Metodo de pago</p>
			
			<input type="radio" name="payment_method" id="efectivo" value="EFECTIVO" required
			{% if 'EFECTIVO' in transaction.payment_method %} checked {% endif %}>
			<label for="efectivo">Efectivo</label>
			<input type="radio" name="payment_method" id="banco" value="BANCO" required
			{% if 'BANCO' in transaction.payment_method %} checked {% endif %}>
			<label for="banco">Cuenta Bancaria</label>
			<input type="radio" name="payment_method" id="cripto" value="CRIPTO" required
			{% if 'CRIPTO' in transaction.payment_method %} checked {% endif %}>
			<label for="cripto">Criptomoneda</label>
		</div>

		<div class="form-trans">
			<label for="description">Descripción</label>
			<textarea name="description" id="description" maxlength="100" required>{{transaction.description}}</textarea>
		</div>

		<button>Actualizar</button>	
	</form>

	<form action="{% url 'delete_transaction' transaction.id %}" method="POST">
		{% csrf_token %}
		<button>Eliminar</button>	
	</form>-->

{% endblock %}